extends layout

block content
  #banner.page-header
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p welcome #{user.username}!
      a(href="/logout") Logout
