extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1 About the authors
				p
					| Matthew Lowman is a student at UWA studying in the second year
					| of a Master of Information Technology.  I also work as an IT consultant for a global service integration company.
				p
					| Kit Buckley is a final year student at UWA studying a Master of Information Technology.
				p
					| We have built this site from the ground up, using the express and bootstrap templates.  If you wish to contact us
					| in regards to the content or design of the website, please email me us at 10420746@student.uwa.edu.au (Kit)
					| or 21944708@student.uwa.edu.au (Matthew).
					
				h1 Architecture and design choices
				p
					| Our page uses the MVC architecture.
					| 
				p
					| We made a decision not to use Angular, as it would require a considerable amount
					| of refactoring of our existing code.
				
				
				h1 Difficulties faced
				p
					| One challenge faced was the lack of familiarity with all the technologies
					| involved in the second part of the project. This made it very difficult to
					| debug, as some errors, such as incorrectly indented jade, were difficult
					| to identify. By collaborating closely on this project, by using a shared Dropbox
					| account and through several sessions working in person with each other, we were
					| able to work through and identifier some of these problems.
				p
					| Another difficulty faced was with the implementation of a javascript clock
					| that tracked the current time in the footer. Although we found that this worked perfectly
					| for the first part of our projects, we had problems getting this to work in Part 2,
					| which we suspect was due to the different architecture of the project, and also the
					| use of the bootstrap framework for the first time.
				p
					| We had challenges with getting initialising Mongo and Mongoose, so for the early part
					| of our project, we used separate databases, before starting a shared
					| Dropbox and creating shared accounts on mLab.
				p
					| Although we were not able to achieve all of the features and functionality we initially
					| set out to do in Part 1 of our projects, we still learnt a lot from working on this project,
					| and the experience gained, through applying Agile development principles in a collaborative
					| environment, will prove invaluable for future projects.
				

			.col-md-6.col-sm-12
				h1 References
				ul
					li "Getting MEAN with Mongo, Express, Angular, and Node"
					li "https://www.w3schools.com/js/tryit.asp?filename=tryjs_timing_clock"
					li "http://www.istockphoto.com/au/vector/builders-constructors-workers-at-construction-sites-gm515060804-88387011"
					li "http://www.allmach.com.au/sites/default/files/styles/blog_1140x642/public/9.png?itok=z1i3eUMY"
					li "https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_select_options3"
					li "https://webdesign.tutsplus.com/tutorials/building-responsive-forms-with-flexbox--cms-26767"
					li "http://codepen.io/noahblon/post/practical-guide-to-flexbox-dont-forget-about-flex-shrink"
					li "https://www.w3schools.com/js/tryit.asp?filename=tryjs_timing_clock"
					li "https://www.w3schools.com/css/css3_flexbox.asp"
					li "https://www.w3schools.com/css/css3_gradients.asp"
					li "http://www.99colors.net"
					li "https://www.w3schools.com/tags/tag_optgroup.asp"
					li "https://www.w3schools.com/js/js_validation_api.asp"
					li "https://www.regexr.com"
					li "http://mherman.org/blog/2015/01/31/local-authentication-with-passport-and-express-4/#.WSazFjclFCV"

//
	https://www.w3schools.com/js/tryit.asp?filename=tryjs_timing_clock
	http://www.istockphoto.com/au/vector/builders-constructors-workers-at-construction-sites-gm515060804-88387011
