extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Welcome to our Trade Matching Website
        small &nbsp;Whether you are a client, or tradie, we will match you with the service you require!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          p This website is designed to facilitate the matching of business and clients in the trade industry.
          p Our matching algorithm is based on the common points of intersection between two groups: businesses and clients. When a user registers, they register as either a business or a client.  As would be expected, businesses provide services and clients request services.  
          p This application is intended to be practical in nature, so in the second part of the project we are planning to utilise Google Maps, to give the exact locations of businesses and clients.  This will allow for precise matching to be made based on location; for example, companies based in Mandurah would be unlikely to accept a contract in Joondalup. The intention is that the business will select their location, and a distance that they are willing to travel and clients will enter their location. Then, the query between these points can be visualised, and the distance between these two points can be calculated, and if the distance lies outside of the specified maximum distance, then the work offers will not appear for the business.
          p In addition, clients can enter an estimated scale of their job, and businesses can specify the length of contracts they are likely to work. This ensures that certain companies, who don't have the capability to perform certain tasks won't see jobs that they are unable to undertake.
          p Note that these settings can all be adjusted by the clients and businesses.
